<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo5"
        android:label="Blood Donation App"
        android:supportsRtl="true"
        android:theme="@style/Theme.BloodDonationApp"
        tools:targetApi="31">

        <service
            android:name=".ui.CountdownService"
            android:enabled="true"
            android:exported="false" />

        <activity android:name=".ui.DetailActivity"
            android:exported="false"/>
        <activity
            android:name=".ui.DeleteProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ui.ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".ui.UpdateEmailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.UpdateProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ui.UploadProfilePicActivity"
            android:exported="false" />
        <activity
            android:name=".ui.ForgetPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".ui.UserProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ui.ReproActivity"
            android:exported="false" />
        <activity
            android:name=".ui.DonaterActivity"
            android:exported="false" />
        <activity
            android:name=".ui.RegistrationActivity"
            android:exported="false" />
        <activity
            android:name=".ui.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".ui.SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>